/* ========================================
   POPUPS
   ======================================== */
.custom-popup .leaflet-popup-content-wrapper {
  background: transparent !important;
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  padding: 0 !important;
  color: currentColor;
}

.custom-popup .leaflet-popup-content {
  margin: 0 !important;
  line-height: normal !important;
  min-height: auto !important;
  max-width: 500px !important;
  min-width: min(90vw, 800px) !important;
  p {
    margin: 0;
  }
}

.custom-popup .leaflet-popup-tip {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

/* Ensure popup positioning still works */
.custom-popup.leaflet-popup {
  position: absolute !important;
  z-index: 1000 !important;
}

/* Remove close button styling if present */
.custom-popup .leaflet-popup-close-button {
  display: none !important;
}

.leaflet-control-attribution {
  display: none !important;
}

/* ========================================
   CUSTOM ZOOM CONTROLS STYLES
   ======================================== */

/* Container de los controles de zoom */
.leaflet-control-zoom {
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  overflow: hidden;
  boder: 2px solid var(--color-accent-primary) !important;
}

/* Botones de zoom individuales */
.leaflet-control-zoom a {
  background-color: #ffffff !important;
  color: var(--color-accent-primary) !important;
  background: var(--color-background-interactive) !important;
  margin: 5px 0;
  border: none !important;
  border-radius: 0 !important;
  width: 36px !important;
  height: 36px !important;
  line-height: 36px !important;
  font-size: 30px !important;
  font-weight: bold !important;
  transition: all 0.2s ease !important;
  text-decoration: none !important;
}

/* Separador entre botones */
.leaflet-control-zoom a + a {
  border-top: none !important;
}

/* Hover state */
.leaflet-control-zoom a:hover {
  background-color: var(--color-accent-primary) !important;
  color: var(--color-dark-primary) !important;
  transform: scale(1.05);
}

/* Active/pressed state */
.leaflet-control-zoom a:active {
  background-color: #e8e8e8 !important;
}

/* Disabled state */
.leaflet-control-zoom-disabled {
  opacity: 0.4 !important;
  cursor: not-allowed !important;
}
.leaflet-control-zoom-disabled a {
  color: red !important;
}

.leaflet-control-zoom-disabled:hover {
  background-color: #ffffff !important;
  transform: none !important;
}
